/*****  BOOTSTRAP  *****************************************/

/* @use "@fortawesome/fontawesome-free/css/all.min.css"; */

//VARIABLES (bootstrap)
$primary_color: #f7645f;
$primary_color_light: lighten(saturate($primary_color, 20%), 10%);
$primary_color_dark: darken($primary_color, 15%);

$secondary_color: #ffffff;
$secondary_color_light: lighten(saturate($secondary_color, 30%), 10%);
$secondary_color_dark: darken($secondary_color, 15%);

$success_color: #28a745;
$info_color: #17a2b8;
$warning_color: #ffc107;
$danger_color: #dc3545;
$light_color: #f8f9fa;
$dark_color: #343a40;

@use "bootstrap/scss/bootstrap" with ($primary: $primary_color,
  $secondary: $secondary_color,
  $success: $success_color,
  $info: $info_color,
  $warning: $warning_color,
  $danger: $danger_color,
  $light: $light_color,
  $dark: $dark_color,
);

/*****  FONTS  *****************************************/
@use "@fortawesome/fontawesome-free/css/all.min.css";
//font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//font-family: 'Cinzel', serif;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');


/*******  MIXIN ********************************************/

/***** MEDIA  QUERIES *****************************************/
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';


/* visualizzare */
.aa {
  border: 1px solid rgb(216, 127, 228);

  @include media-breakpoint-up(xs) {
    border: 1px solid rgb(9, 0, 128);
  }

  @include media-breakpoint-up(sm) {
    border: 1px solid rgb(0, 128, 128);
  }

  @include media-breakpoint-up(lg) {
    border: 1px solid rgb(125, 236, 91);
  }

  @include media-breakpoint-up(xl) {
    border: 1px solid rgb(255, 174, 0);
  }

  @include media-breakpoint-up(xxl) {
    border: 1px solid rgb(255, 0, 119);
  }
}

/** UTILITIES ****************************************/

.bg-gold{
  background: rgb(255,247,189);
  background: radial-gradient(circle, rgba(255,247,189,1) 20%, rgba(210,176,35,1) 89%); }
.bg-silver{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 4%, rgba(239,255,254,1) 20%, rgba(155,160,184,1) 89%, rgba(110,128,156,1) 100%);
}
.bg-diamond{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 4%, rgba(239,255,254,1) 20%, rgba(141,200,250,1) 89%, rgba(97,148,228,1) 100%);
}


/********************************************/
body {
  /*    font-family: 'Raleway', sans-serif;
   color: $light_color; */
}

/***** NAVBAR ******/
nav {
  .nav-logo {
    height: 60px;
  }

  .nav-item {
    a {
      text-decoration: none;
      color: $dark_color;

      &+.link-underline {
        background-color: $primary_color;
        height: 0px;
        width: 0px;
        transition: all .3s;
      }

      &:hover,
      &:active,
      &.active {
        color: saturate($primary_color, 20%);

        &+.link-underline {
          background-color: saturate($primary_color, 20%);
          height: 2px;
          width: calc(100% - 1rem);
        }
      }
    }
  }
}

/* DASHBOARD */
.dashboard-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, $secondary_color, desaturate($secondary_color_light, 15%), saturate(white, 10%));

  /* MAIN ***********************/
  main.dashboard {
    margin-left: 90px;
    width: 100%;
    background: $secondary_color;

    /* APARTMENT SHOW  ***********************/
    #ds-Show-Apartment {

      .icons-services {
        width: 20px;
      }

      .img-container {
        height: 1/3vh;

        .img-row-left img {
          @include media-breakpoint-up(lg) {
            transform: scaleY(120%) translateY(8%);
          }

          @include media-breakpoint-up(xl) {
            transform: scaleY(120%) translateY(5%);
          }
        }

        .row-dx {
          transform: scaleY(115%) scaleX(102%) translate(10px);
          position: relative;
          top: 0;
          left: 0;
        }
      }
    }
  }

  /* ASIDE ^^^^^^^^^^^^^^^^^^^^^*/
  aside.navigation {

    * {
      padding: 5px;
    }

    padding: 2px;
    position: fixed;
    width: 70px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid $primary_color;
    border-right: 10px solid $secondary_color_light;
    background: $primary_color;
    transition: 0.5s;
    overflow-x: hidden;

    .nav-title {
      color: white;
      display: none;
      position: absolute;
      top: 20px;
      left: 20px;
    }

    &.active {
      width: 200px;
    }

    ul {
      position: absolute;
      padding-top: 75px;

      li {
        position: relative;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        a,
        button {
          display: block;
          display: flex;
          color: $secondary_color_light;

          .icon {
            position: relative;
            min-width: 60px;
            height: 60px;
            line-height: 70px;
          }

          .title {
            height: 60px;
            line-height: 60px;
            white-space: normal;

          }
        }

        &.active {
          background: $secondary_color_light;
          font-weight: bold;

          a {
            color: $primary_color;

          }

          b:nth-child(1),
          b:nth-child(2) {
            display: block;
          }
        }


        b {
          &:nth-child(1) {
            position: absolute;
            top: -20px;
            height: 20px;
            width: 100%;
            background: $secondary_color_light;
            display: none;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-bottom-right-radius: 20px;
              background: $primary_color;
            }
          }

          &:nth-child(2) {
            position: absolute;
            bottom: -20px;
            height: 20px;
            width: 100%;
            background: $secondary_color_light;
            display: none;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-top-right-radius: 20px;
              background: $primary_color;
            }
          }
        }
      }
    }
  }

  .toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    float: left;

    ion-icon {
      position: absolute;
      color: white;
      font-size: 34px;
      display: none;

      &.open {
        display: block;
      }

      &.close {
        display: none;
      }
    }

    &.active {
      left: 270px;

      ion-icon {
        &.close {
          display: block;
        }

        &.open {
          display: none;
        }
      }
    }
  }
}

/* FORM CREATE EDIT SEARCH AUTOCOMPLETE */

/* .my-btn {
  border-radius: 50%;
  border: none;
  position: absolute;
  background-color: white;
  top: 10px;
  right: 5px;
}

.search {
  &__input {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;

    color: #575756;
    background-color: transparent;
    //        background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); 

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &::placeholder {
      color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
} */